html {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.wallpaperscraft.com/image/single/mountains_mountain_range_peaks_149574_1280x720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
body{
    margin: auto;
}
.input-group {
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #000000;
    font-size: 15px;
    border: 1px solid #ff0000;
    border-radius: 6px 0 0 6px;
    background-color: white;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #ff0000;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #ff0000;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #ff0000;
    outline: none;
  }
  .alert{
    display: flex;
    align-content:center;
    justify-content: center;
    background-color: #22ff00;
    margin-top: 2%;
    color: #000000;
    transition: ease-out;
  }