html {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.wallpaperscraft.com/image/single/mountains_mountain_range_peaks_149574_1280x720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
*{
    margin: auto;
}
